@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --blue-primary: #284B8C;
    --green-primary: #00A859;
    --green-light: #c2ffe2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* ul {
    list-style: none;
} */

li {
    list-style: none;
}



/*=======================================================================*/
/*=======================================================================*/
/*Header Style*/

header {
    background-color: var(--green-light);
    height: 80px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 45px;
}

nav ul {
    display: flex;
    gap: 45px;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: var(--blue-primary);
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: var(--green-primary);
}


/*=======================================================================*/
/*=======================================================================*/
/*Home Style*/

.home {
    min-height: 89vh;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .left-side {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.home .right-side img {
    height: 550px;
}

.home .title {
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-weight: 800;
    line-height: 0.9;
}

.home .title.one {
    color: var(--blue-primary);
}

.home .title.two {
    color: var(--green-primary);
}

.home .subtitle {
    margin: 0;
    padding: 0;
    color: var(--blue-primary);
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.detail-button {
    padding: 15px 18px;
    max-width: 40%;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid var(--green-primary);
    border-radius: 13px;
    background-color: var(--green-primary);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*detail-button hover*/
.detail-button:hover {
    color: var(--green-primary);
    background-color: white;
}


/*=======================================================================*/
/*=======================================================================*/
/*About Style*/

.about {
    /* background-color: var(--green-light); */
    min-height: 100vh;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about .left-side {
    padding-left: 40px;
    position: relative;
}

.about .left-side .image {
    background-color: red;
    height: 500px;
    width: 400px;
    border-radius: 80px;
    overflow: hidden;
}

.about .left-side .image img {
    transition: transform 0.5s ease;
}

.about .left-side .image img:hover {
    transform: scale(1.2);
}

.about .left-side .card {
    position: absolute;
    bottom: -10px;
    left: -20px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 0px 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease, brightness 0.5s ease;
}

.about .left-side .card:hover {
    background-color: var(--green-primary);
    color: white;
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.about .left-side .card:hover img{
    filter: brightness(10);
}

.about .left-side .card img {
    height: 40px;
    object-fit: contain;
    margin-right: 15px;
}

.about .left-side .card .text {
    /* color: var(--blue-primary); */
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
}


.about .left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .right-side {
    padding-right: 40px;
}

.about .title {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: var(--green-primary);
}

.about .description {
    font-size: 17px;
    text-align: justify;
}

.about .description .bold-color {
    color: var(--blue-primary);
}


/*=======================================================================*/
/*=======================================================================*/
/*Service Style*/

.service {
    /* background-color: var(--green-light); */
    min-height: 100vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service .title {
    margin: 0;
    padding-bottom: 40px;
    font-size: 60px;
    color: var(--blue-primary);
}

.service .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 120px;
}

.service .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service .card .container {
    height: 200px;
    width: 230px;
    border: 2px solid var(--green-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 63px;
    transition: background-color 0.5s ease;
}

.service .card .container:hover {
    background-color: var(--green-primary);
    border: 2px solid var(--green-primary);
}

.service .card .text {
    color: var(--blue-primary);
    font-weight: 600;
    line-height: 1.3;
    margin-top: 7px;
    width: 230px;
    text-align: center;
}

.service .card .container:hover + .text {
    color: var(--green-primary);
}

.service .card .container img {
    height: 100px;
    transition: brightness 0.5s ease;
}

.service .card .container:hover img {
    filter: brightness(1.3);
}


/*=======================================================================*/
/*=======================================================================*/
/*Contact Style*/

.contact {
    /* background-color: var(--green-light); */
    min-height:80vh;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .title {
    margin: 0;
    padding-bottom: 40px;
    font-size: 60px;
    color: var(--green-primary);
}   

.contact .body {
    display: flex;
}

.contact .left-side form {
    display: flex;
    flex-direction: column;
}

/*send button*/
.contact .left-side .button {
    margin-top: 20px;
    background-color: var(--green-primary);
    border: 2px solid var(--green-primary);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 15px;
}

/*form style*/
.label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input {
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--green-light);
}

.textarea {
    border: none;
    background-color: var(--green-light);

}

/*right-side*/
.contact .right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 80px;
    padding-top: 20px;
}

.contact .right-side .sub-cont .text{
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: var(--green-primary);
}
.contact .right-side .sub-cont .content{
    margin: 0;
    padding: 0;
}


/*=======================================================================*/
/*=======================================================================*/
/*Footer Style*/
footer {
    min-height: 40vh;
    background-color: var(--green-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .title {
    font-size: 20px;
    font-weight:600;
    color: white;
}

footer .logos {
    height: 100px;
}

footer .rights {
    font-weight: 600;
    font-size: 15px;
    color: white;
}